
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;

}

.header-img{
    margin: 64px 0 32px 0;

}

h1{
    color: #3F3D56;
    font-weight: normal;
    margin: 32px;
}

#span-1{
    
    color: #EE24FF;
    font-weight: bold;
}

.middle-paragraph{
    color: #828282;
    line-height: 24px;

}

strong{
    color: #3F3D56;

}

#floating{
    color: #828282;

}

#bottom-paragraph{
    color: #828282;
    margin: 0 0 136px 0;
}

footer{
    display: flex;
    justify-content: center;
    margin: 0 0 40px 0;
}

a{
    font-weight: bold;
    margin-left: 50px;
    text-decoration: none;
    color: #3F3D56;
}




#wave-img{
    position: fixed;
    display: block;
    height: 120px;
    bottom: 0;
    left: 0;
    width: 100%;
    

}


